#app {
  background-image: url('./Media/background2.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom;
  height: 800px;
  min-height: 700px;
  font-family: Helvetica, Arial, sans-serif;
}

/*
*   NavBar CSS
*/

.NavBar {
  height: 48px;
  width: 100%;
  background-color: black;
  border-bottom: 2px solid whitesmoke;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.NavTitleContainer {
  display: flex;
  align-items: center;
  flex: flex-grow;
  align-self: center;
}

.NavPic {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  border: 2px solid whitesmoke;
  margin: 10px;
}

.flex-row {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-item h3 {
  color: white;
  text-decoration: none;
}

.nav-item a {
  color: white;
  margin: 0px;
  font-size: 1.3em;
  padding: 5px;
  border-radius: 5px;
  text-decoration: none;
}

.nav-item a:hover {
  color: #202b47;
  background-color: #fff;
  box-shadow: #d3d3d3;
}

/*
*   Section CSS
*/
.sectionContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-top: 3em;
}

.sectionHeader {
}

/*
*   About Section CSS
*/

.about {
  max-width: 650px;
  min-width: 550px;
  height: auto;
  background-color: rgb(239, 247, 255, 0.5);
  border-radius: 20px;
}

.aboutContent p {
  width: 66%;
}

.aboutImageContainer {
  width: 150px;
  height: 200px;
  border: solid 2px white;
  border-radius: 5px;
  margin: 2em;
}

.aboutSectionPic {
  position: relative;
  zoom: 0.5;
}

.aboutSectionText {
  text-align: justify;
  margin-right: 2em;
}
