#app {
  background-image: url('./Media/background2.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom;
  height: 800px;
  min-height: 700px;
}

.NavBar {
  height: 48px;
  width: 100%;
  background-color: black;
  border-bottom: 2px solid olive;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.NavTitleContainer {
  display: flex;
  align-items: center;
  flex: flex-grow;
  align-self: center;
}

.NavPic {
  height: 25px;
  width: 25px;
  border-radius: 50%;
  border: 2px solid whitesmoke;
  margin: 0px;
  margin-right: 10px;
  zoom: 140%;
}

.NavBarHeader {
  color: white;
  margin: 0px;
  /* margin-top: 12.5px; */
}
