#app {
  background-image: url('./Media/background2.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom;
  height: 800px;
  min-height: 700px;
  font-family: Helvetica, Arial, sans-serif;
}

/*
*   NavBar CSS
*/

.NavBar {
  height: 48px;
  width: 100%;
  background-color: black;
  border-bottom: 2px solid olive;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.NavTitleContainer {
  display: flex;
  align-items: center;
  flex: flex-grow;
  align-self: center;
  font-size: 1.3em;
  padding: 5px;
  border-radius: 5px;
}

/* .nav-item a {
  font-size: 1.3em;
  color: #fff;
  text-decoration: none;
  padding: 5px;
  border-radius: 5px;
} */
.NavTitleContainer:hover {
  color: #202b47;
  background-color: #fff;
  box-shadow: #d3d3d3;
}

.NavPic {
  height: 25px;
  width: 25px;
  border-radius: 50%;
  border: 2px solid whitesmoke;
  margin: 0px;
  margin-right: 10px;
  zoom: 140%;
}

.NavBarHeader {
  color: white;
  margin: 0px;
}

/*
*   Section CSS
*/
.sectionContainer {
}

.sectionHeader {
}

/*
*   About Section CSS
*/
